<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./header.css">
</head>
<body>
    <div class="header_div">
        <div class="logo_row">
            <div class="contact">
                <svg> </svg>
                <span>CALL NOW</span>
                <h4>123456789</h4>
            </div>

            <img src="./assets/head-logo-srasnakcs.png" alt="snacks-logo">

           <div class="cart">
             <h1>H</h1>
           </div>
        </div>

        <div class="nav_row">
            <div><a href="#">home</a></div>
            <div><a href="#">store</a></div>
            <div><a href="#">ous story</a></div>
            <div><a href="#">where to buy</a></div>
            <div><a href="#">recipes</a></div>
            <div><a href="#">news</a></div>
            <div><a href="#">contact</a></div>
        </div>
    </div>
</body>
</html>