<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body>
    <div class="foo">
        <div class="f1">
            <div class="logo">
                <img src="/components/footer/assets/head-logo.png">
            </div>
            <div class="contact">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-pinterest"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>

        </div>
        <div class="f2">
           <p><i class="fa-solid fa-location-dot"></i> 9 W Philadelphia St. • York, PA 17401</p>
           <span><i class="fa-solid fa-envelope"></i> orders@nutsaboutgranola.com</span>
           <br>
           <span><i class="fa-solid fa-phone"></i> 717-814-9648</span>
        </div>
        <div class="f3">
            <div class="admin">
                <span>Shop Now</span>
                <br>
                <span>My Account</span>
                <br>
                <span>Shopping Cart</span>
            </div>
            <div class="contact_us">
                <span>Where To Buy</span>
                <br>
                <span>Wholesale</span>
                <br>
                <span>Contact Us</span>
            </div>

        </div>
        <div class="f4">
            <img src="/components/footer/assets/WOB_POSITIVECOLOR_STD.png">
        </div>
    </div>
    <hr class="horizontal">
    <div class="addresses">
            <p>York | Manchester | Windsor | Jefferson | Loganville | Hershey | Lancaster | Harrisburg | Lebanon | Mechanicsburg</p>
            <p>© Copyright 2022 Sarah's Sweet & Savory Snacks | All Rights Reserved | This site designed and hosted by Enter.Net</p>
            <p>This site is protected by reCAPTCHA. Our Privacy Policy and Terms of Service apply.</p>
    </div>
</body>
</html>